@charset "UTF-8";
/* CSS Document */

html, body {
  margin: 0px;
}

.clear {
  clear: both;
}

#wrapper {
  width: 100%;
  max-width: 960px;
  margin: auto;
}


/*---------- HEADER ----------*/

header {
  height: 300px;
  width: 100%;
  background: #e3e3e3;
}


/*---------- CONTENT AREA ----------*/

.col-3 {
  width: 100%;
  height: 320px;
  float: left;
}

#column-1 {
  background: #1a3071;
}

#column-2 {
  background: #c41414;
}

#column-3 {
  background: #74e27b;
}


/*---------- FOOTER ----------*/

footer {
  width: 100%;
  height: 30px;
  background: #e3e3e3;
}


/*---------- TABLET ----------*/
/* Change the background colors below */

@media (min-width: 768px) {
  header {
    background-color: pink;
  }

  #column-1 {
    background-color: darkgrey;
  }

  #column-2 {
    background-color: black;
  }

  #column-3 {
    background-color: salmon;
    width: 100%;
  }

  footer {
    background-color: beige; 
  }

  .col-3 {
    width: 50%;
  }
  
}


/*---------- Desktops ----------*/
@media (min-width: 1200px) {
  header {
    background-color: purple;
  }

  #column-1 {
    background-color: yellowgreen;
  }

  #column-2 {
    background-color: turquoise;
  }

  #column-3 {
    background-color: orange;
    width: 33.3%;
  }

  footer {
    background-color: lightskyblue;
  }

  .col-3 {
    width: 33.3%;
  }
   
}
